body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  //   font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: moveInLeft;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 3rem;
    }
  }
  &--sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    word-spacing: 2rem;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: moveInRight;

    @include respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 1.5rem;
      word-spacing: 0.5rem;
    }
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-top: -4rem;
  
  &-1{
    
    margin-top: 0 !important;
  }

  @include respond(phone){
    font-size: 2.5rem;
  }
  @include respond(tab-port){
    font-size: 3rem;
  }
  &-1{
    @include respond(phone){
      font-size: 2.5rem;
    }
    &:hover{
      transform: scale(1) !important;
    }

  }

  &:hover{
    transform: skewY(-6.5deg) skewX(-15deg) scale(1.3);
  }

  text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

}
.paragraph{
  font-size:14px;
  &:not(:last-child){
    margin-bottom: 3rem ;
  }
}