.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 10;
    margin-top: 10vh;
    margin-bottom: 10vh;

    @include respond(tab-port){
        padding: 20rem 0;
        margin-top: 3vh;
    }
}

.section-features{
    
padding: 20rem 10rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    @include respond(tab-port){
        padding: 10rem 0;
    }
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -7rem;

& > *{
    transform: skewY((7deg) );
}

}


.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -12rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }

}

.section-stories{
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port){
        padding: 5rem 0;
        
    }

}

// .section-book{
//     padding: 15rem 0;
//     background: $color-grey-dark-3;
    
//     @include respond(tab-port){
//         padding: 10rem 0;
//     }
// }

// .book{
//     background-image: linear-gradient(105deg,rgba($color-white,0.9) 0%,rgba($color-white,0.9)  50%) url(../../tech/img2.jpg);
// }

.section-book {
    padding: 15rem 0;
    background: $color-grey-dark-3;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image:   linear-gradient(    105deg,
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 50%,
                                            transparent 50%),
                        url(https://source.unsplash.com/random/800x600/?superbikes&1);
    background-size: cover;
    border-radius: 3px;
    background-size: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    @include respond(tab-land){
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white,.9)65%, transparent 65% )url(https://source.unsplash.com/random/800x600/?superbikes&1);
    }
    @include respond(tab-port){
        background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white,.9)100% ),url(https://source.unsplash.com/random/800x600/?superbikes&1);
    }

    &__form{
        width: 50%;
        padding: 6rem;
        @include respond(tab-land){
            width: 65%;
        }
        @include respond(tab-port){
            width: 75%;
        }
    }
}
